@charset "IBM866";
/* line 2, ../../sass/fontello/fontello-codes.scss */
.icon-ok-circled2-1:before {
  content: '\e806';
}

/* '' */
/* line 3, ../../sass/fontello/fontello-codes.scss */
.icon-ok-circled2:before {
  content: '\e805';
}

/* '' */
/* line 4, ../../sass/fontello/fontello-codes.scss */
.icon-check-empty:before {
  content: '\e809';
}

/* '' */
/* line 5, ../../sass/fontello/fontello-codes.scss */
.icon-search:before {
  content: '\e810';
}

/* '' */
/* line 6, ../../sass/fontello/fontello-codes.scss */
.icon-twitter:before {
  content: '\e80d';
}

/* '' */
/* line 7, ../../sass/fontello/fontello-codes.scss */
.icon-facebook:before {
  content: '\e80b';
}

/* '' */
/* line 8, ../../sass/fontello/fontello-codes.scss */
.icon-gplus:before {
  content: '\e80c';
}

/* '' */
/* line 9, ../../sass/fontello/fontello-codes.scss */
.icon-gplus-circled-1:before {
  content: '\e804';
}

/* '' */
/* line 10, ../../sass/fontello/fontello-codes.scss */
.icon-check:before {
  content: '\e807';
}

/* '' */
/* line 11, ../../sass/fontello/fontello-codes.scss */
.icon-vkontakte:before {
  content: '\e80a';
}

/* '' */
/* line 12, ../../sass/fontello/fontello-codes.scss */
.icon-check-1:before {
  content: '\e808';
}

/* '' */
/* line 13, ../../sass/fontello/fontello-codes.scss */
.icon-left-dir:before {
  content: '\e80e';
}

/* '' */
/* line 14, ../../sass/fontello/fontello-codes.scss */
.icon-right-dir:before {
  content: '\e80f';
}

/* '' */
/* line 15, ../../sass/fontello/fontello-codes.scss */
.icon-twitter-circled:before {
  content: '\e800';
}

/* '' */
/* line 16, ../../sass/fontello/fontello-codes.scss */
.icon-facebook-circled:before {
  content: '\e801';
}

/* '' */
/* line 17, ../../sass/fontello/fontello-codes.scss */
.icon-gplus-circled:before {
  content: '\e803';
}

/* '' */
/* line 18, ../../sass/fontello/fontello-codes.scss */
.icon-pinterest-circled:before {
  content: '\e802';
}

/* '' */
